<!-- this script makes it disappear -->
<script type="text/javascript" >
function toggle_div_fun(id) {

	var divelement = document.getElementById(id);

	if(divelement.style.display == 'none')
		divelement.style.display = 'block';
	else
		divelement.style.display = 'none';
}

</script>

<!-- this script makes the dispear shot before the page loads -->
<script type="text/javascript" >
    jQuery(function(){
      jQuery('#featuretoggle').click();
    });
</script>



<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
	<%= image_tag @listing.image.url %>
</div>
	</div>
	<div class="col-md-6">
		<h3><%= @listing.name %></h3>
		<p>Category: <%=link_to @listing.category.name, category_path(:id => @listing.category.id) %></p>
		<p>Price: <%= number_to_currency(@listing.price) %></p>
		<p><%= @listing.description %></p>
		<p><strong><%= link_to "Sold by #{@listing.user.name}", user_path(@listing.user.name) %></strong></p>
        <p><%= "Posted: #{@listing.created_at.strftime("%b:%d:%Y")}" %><%= " at #{@listing.created_at.strftime("%H:%M")}" %> </p>
		<br>



        <p><a class="btn btn-lg btn-primary" id="featuretoggle" role="button" onclick="toggle_div_fun('sectiontohide');">Send Seller Message</a></p>
		<div id="sectiontohide">
	<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <%= f.select(:recipients, User.all[0,1].collect {[ @listing.user.name, @listing.user.id ] }, { selected: [ @listing.user.name, @listing.user.id ] }, { multiple: true , class: "form-control", :selected => "[ @listing.user.name, @listing.user.id ]" })%>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>

    <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>
         
		<% link_to "Buy It Now", new_listing_order_path(@listing),class: "btn btn-primary" %>



	    </div>
	</div>
</div>

<% if current_user == @listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>


